apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-node-app
  labels:
    app: demo-node-app

spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-node-app
  template:
    metadata:
      labels:
        app: demo-node-app
    spec:
      containers:
        - name: demo-node-app
          image: nodeapp1128.azurecr.io/demo-backend:fd5d96635a03d917e6febba38c233f4af083e9f3
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: production
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
         
